each post in posts
  .flex.flex-col.text-neutral-400.hover_bg-neutral-800.cursor-pointer.py-4.w-full.px-1.transition(hx-get=`/blog/${post.slug}` hx-target="body" hx-swap="innerHTML show:top" hx-push-url="true")
    .font-medium.mr-4.text-neutral-400.w-full.xl_text-base.text-3xl #{post.prettyDate}
    .flex.flex-col
      span.xl_text-2xl.text-5xl.font-medium.text-neutral-100 #{post.title}
      if post.short
        span.xl_text-sm.text-3xl.font-normal.text-neutral-500 #{post.short}