ul.menu.menu-horizontal.rounded-box.bg-gray-900(class="p-0.5")
  li.hover_bg-gray-800.transition-all.duration-300.active
    a(href="/") Me
  li.hover_bg-gray-800.transition-all.duration-300
    a(href="/blog") Blog
  li.hover_bg-gray-800.transition-all.duration-300
    a(href="/wiki") Wiki
  li.hover_bg-gray-800.transition-all.duration-300
    a(href="/products") Products
  li.ml-36.hover_bg-gray-800.transition-all.duration-300
    label(for="my_modal_7") Search