ul.flex.flex-row.gap-x-4
  li.text-white
    a.text-5xl.xl_text-xl.px-8.py-4.w-full.h-full.bg-neutral-700.hover_bg-neutral-800.transition(href="/") Me
  li.text-white
    a.text-5xl.xl_text-xl.px-8.py-4.w-full.h-full.bg-neutral-700.hover_bg-neutral-800.transition(href="/blog") Blog
  li.text-neutral-700.cursor-not-allowed
    a.text-5xl.xl_text-xl.px-8.py-4.w-full.h-full.bg-neutral-800.disabled Wiki
  li.text-neutral-700.cursor-not-allowed
    a.text-5xl.xl_text-xl.px-8.py-4.w-full.h-full.bg-neutral-800.disabled Products