doctype html

html.scroll-smooth.no-scrollbar(lang="en")
  head
    meta(charSet="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="/output.css" rel="stylesheet")
    script(src="/htmx.min.js" type="text/javascript")
    block head
      title Şems Yılmaz
      meta(name="description" content="Şems Yılmaz's personal homepage")

  body.snap-none.w-full.min-h-screen.bg-neutral-900(hx-boost="true")
    div.flex.flex-col.pb-32.pt-24
      div.flex.w-full.items-center.justify-center
        include ../includes/menu
      div.flex.w-full.items-center.justify-center
        block content
          div Page Not Found!