extends layouts/main

block content
  .flex.flex-col.mt-16(class="w-auto")
    h1.text-3xl.font-bold.text-neutral-300 #{title}
    small.text-neutral-500(role='status') #{date}
    article.prose.prose-invert.mt-8 !{markdown}