extends layouts/main

block content
  article.prose.pt-32.flex.flex-col.items-start.gap-y-2(class="w-2/3")
    .text-6xl.text-orange-500 Hi, I am Şems
    .text-lg I am a full-stack JavaScript/TypeScript developer from Turkey.
    .text-lg Reach me on
      kbd.kbd.text-white.ml-2
        a.no-underline(href="mailto:yilmazsems@gmail.com") yilmazsems@gmail.com
